---
import type { HTMLAttributes } from 'astro/types';
import { SITE } from '@/const';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

const fullHref = '/' + SITE.BASE_PATH + href;
const isActive = fullHref === pathname;
---

<a
  href={`/${SITE.BASE_PATH}${href}`}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
