.section-banner {
  --_section_c: var(--section_c, var(--c-white));

  --h-c: var(--_section_c);
  --link-c: var(--_section_c);
  --link-c_h: var(--_section_c);

  color: var(--_section_c);

  .w-img {
    grid-area: 1 / 1 / -1 / -1;
  }

  .w-content {
    grid-area: 1 / 2 / -1 / -2;
    align-content: center;
    text-align: center;
  }
}
